<div class="d-flex justify-content-center" *ngIf="token && emailAddress">
  <div class="col-12 col-lg-5">
    <main class="form-signin">
      <form
        [formGroup]="resetPasswordForm"
        class="form-signin"
        (ngSubmit)="resetPassword()"
        autocomplete="off"
      >
        <div class="text-center mb-4">
          <h1 class="mb-3 font-weight-normal">
            <span> Change your password </span>
          </h1>
        </div>
        <div class="form-floating mb-3">
          <input
            formControlName="emailAddress"
            id="emailAddress"
            type="email"
            placeholder="Email Address"
            class="form-control"
          />
        </div>
        <div class="form-floating mb-3">
          <input
            formControlName="password"
            id="password"
            type="password"
            placeholder="Password"
            class="form-control"
            [class.is-invalid]="
              submitted && resetPasswordForm.get('emailAddress')?.errors
            "
          />
          <label for="password" for="inputValid">Password</label>
          <span
            class="invalid-feedback"
            *ngIf="
              submitted &&
              resetPasswordForm.get('password')?.hasError('required')
            "
          >
            Password is required
          </span>
          <span
            class="invalid-feedback"
            *ngIf="
              submitted &&
              resetPasswordForm.get('password')?.hasError('minlength')
            "
          >
            Password must be at least 6, and maximum 15 characters
          </span>
        </div>
        <div class="form-floating mt-4 px-1" *ngIf="errorMessages.length > 0">
          <app-validation-messages
            [errorMessages]="errorMessages"
          ></app-validation-messages>
        </div>
        <div class="row">
          <div class="col-md-6 m-auto">
            <button class="btn btn-success w-100">Send</button>
          </div>
          <div class="col-md-6 m-auto">
            <a routerLink="/account/login" class="btn btn-danger w-100"
              >Cancel</a
            >
          </div>
        </div>
      </form>
    </main>
  </div>
</div>
